<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<h1 align="center">Simple site to view fruit data and weather data</h1>

<p style="text-align: center; padding: 40px"><a href=fruit ><button class=grey style="height:75px;width:150px">Click to view fruit</button></a></p>

<form style="text-align: center; padding: 40px" action="/weather/{city}" title="Enter a city" method="post">
    <label for="weather_city">Enter a city to view some weather</label>
    <input type="text" id="weather_city" name="weather_city">
    <input type="submit">
</form>

</body>
</html>